.container {
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
}
.post {
    position: relative;
    width: 40%;
}

.post-0 {
    top: 50px;
    left: 100px;
}

.post-1 {
    right: -40px;
    top: 100px;

}

.post-2 {
    top: -40px;
}

.post-3 {
    top: 40px;
    left: -20px;
}

.post-4 {
    top: 20px;
    left: 50px;
}

.post-5 {
    top: 300px;
    left: 50px;
    width: 600px;
}

.post-6 {
    top: 100px;
    left: 0;
    width: 600px;
}

.post-7 {
    top: 300px;
    right: -60px;
    width: 520px;
}

.post-8 {
    top: 30px;
    left: -60px;
    width: 520px;
}

.post-9 {
    top: 450px;
    left: -60px;
    width: 520px;
}